*{margin:0;
  padding:0;
  box-sizing:border-box;}
#container{
           display:inline-block;
           border-radius:500px;
           margin:10px;
           position:relative;
           padding:2px;
           cursor:pointer;
           }
.circle{position:relative;
        width:40px;
        height:40px;
        margin-right:20px;}
.bar{position:absolute;
     height:6px;
     width:100%;
     background:#432;
     border-radius:8px;
     transition:ease 0.3s;}
.top{top:18%;}
.middle{top:48%;}
.bottom{top:78%;}

.close .top{transform:rotate(45deg);
            top:48%;}
.close .bottom{transform:rotate(-45deg);
               top:48%;}
.close .middle{opacity:0;}

.kyouyu{display:flex;
        justify-content:space-between;
        background:#0bd; }
h1{padding:8px;}

.sub li{padding:10px;
        list-style:none;
        }
a{text-decoration:none;}
.sub{position:absolute;
     top:57px;
     right:3px;
     display:none;}
img{height:200px;
    width:300px;
    margin:0 auto;}
.slider{width:60%;
        height:40%;
        margin:0 auto;
        padding-top:15px;}
.ikue{height:50%;}
.mainga{width:870px;
        height:88vh;}
